<nav class="navbar navbar-light bg-light">
  <div class="navbar-brand">
    <span class="navbar-brand mb-0 h1">{{title}}</span>
  </div>

  <div class="dropdown dropstart">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="favicon.ico">
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</nav>
