.lista {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 5vw);
  grid-gap: 15px;
}

.img-lista {
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
}
