<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-6 col-md-12 col-sm-12 d-flex">
    <div class="text-center m-5 h-100 w-100">
      <img src="../../../../assets/default-logo.png"
           class="img-fluid"
           alt="Imagem da rede social">

      <div class="mt-5">
        <h5>Rede social</h5>
        <p>Algo sobre rede social</p>
        <a href="#" class="m-2">Link 1</a>
        <a href="#" class="m-2">Link 2</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 align-self-center">
    <form #formLogin="ngForm"
          *ngIf="!isLogado"
          (ngSubmit)="formLogin.form.valid && onSubmit()"
          novalidate>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="email"
          class="form-control"
          name="emailCampo"
          [(ngModel)]="formulario.email"
          required
          #emailCampo="ngModel"/>

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="emailCampo.errors && formLogin.submitted">
          E-mail obrigatório
        </div>
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input id="senha"
               type="password"
               class="form-control"
               name="senhaCampo"
               [(ngModel)]="formulario.senha"
               required
               minlength="5"
               #senhaCampo="ngModel"/>

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="senhaCampo.errors && formLogin.submitted">
          <div *ngIf="senhaCampo.errors.required">Senha obrigatória</div>
          <div *ngIf="senhaCampo.errors.minlength">A senha precisa ter no mínimo 6 caracteres</div>
        </div>
      </div>

      <div class="form-group mt-2">
        <button class="btn btn-primary btn-block">
          ACESSAR
        </button>
        <button [routerLink]="['/registro']"
                class="btn btn-outline-secondary btn-block float-end">
          Registrar
        </button>
      </div>

      <div class="form-group">
        <div class="alert alert-danger"
             role="alert"
             *ngIf="formLogin.submitted && loginFalhou">
          {{ mensagemErro }}
        </div>
      </div>
    </form>
  </div>

  <div class="col-1"></div>
</div>
