<div class="col-9 d-flex">
  <div class="card text-center m-5" style="width: 100% !important; height: 100% !important;">
    <img src="../../../../assets/default-logo.png"
         style="align-self: center; max-width: 600px"
         alt="Imagem da rede social">

    <div class="card-body">
      <h5 class="card-title">Rede social</h5>
      <p class="card-text">Algo sobre rede social</p>
      <a href="#" class="card-link">Link 1</a>
      <a href="#" class="card-link">Link 2</a>
    </div>
  </div>
</div>

<div class="col-3" style="align-self: center">
  <div class="card card-container m-5">
    <form #formLogin="ngForm"
          *ngIf="!isLogado"
          (ngSubmit)="formLogin.form.valid && onSubmit()"
          novalidate>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="email"
          class="form-control"
          name="emailCampo"
          [(ngModel)]="formulario.email"
          required
          #emailCampo="ngModel"/>

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="emailCampo.errors && formLogin.submitted">
          E-mail obrigatório
        </div>
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input id="senha"
               type="password"
               class="form-control"
               name="senhaCampo"
               [(ngModel)]="formulario.senha"
               required
               minlength="5"
               #senhaCampo="ngModel"/>

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="senhaCampo.errors && formLogin.submitted">
          <div *ngIf="senhaCampo.errors.required">Senha obrigatória</div>
          <div *ngIf="senhaCampo.errors.minlength">A senha precisa ter no mínimo 6 caracteres</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login
        </button>
      </div>

      <div class="form-group">
        <div class="alert alert-danger"
             role="alert"
             *ngIf="formLogin.submitted && loginFalhou">
          {{ mensagemErro }}
        </div>
      </div>
    </form>
  </div>
</div>
