.email {
  overflow: hidden;
  white-space: nowrap;
}

  @media (max-width: 767px) {
    .busca-container {
      position: unset !important;
    }
  }

@media (min-width: 768px) {
  @media (max-width: 991px) {
    .input-md {
      max-width: 112px;
    }
  }
}
