<div [hidden]="!carregando"
     class="text-center">
  <div
    class="spinner-border"
    role="status">
    <span class="visually-hidden">Carregando...</span>
  </div>
</div>

<div [hidden]="carregando"
     *ngFor="let post of posts">
  <post [post]="post"></post>
</div>

<div [hidden]="!carregando && posts.length != 0" class="text-center">
  <span>Parece que você não tem posts para interagir.</span>
  <br>
  <span>Que tal </span><a href="#">buscar conteúdo?</a>
</div>

<novopost (onPostSuccess)="carregarPosts()"></novopost>
