<div style="position: fixed; width: min-content">
  <div class="card">
    <div>
      <img [src]="usuario?.foto"
           alt="Foto do usuário"
           [style]="manterOpacidade()"
           class="card-img-top img-perfil">

      <button type="button"
              *ngIf="mostrarBotaoTrocarFoto()"
              class="btn btn-outline-primary btn-trocar"
              data-bs-toggle="modal" data-bs-target="#trocarFoto">Trocar
      </button>
    </div>
    <div class="card-body">
      {{usuario?.nome}}
      {{usuario?.email}}
    </div>
  </div>

  <div class="d-grid gap-2">
    <button type="button"
            class="btn btn-outline-primary"
            [hidden]="isMesmoUsuario() || !exibirBotaoAdicionar"
            (click)="adicionar()">
      <em class="fas fa-user-plus"></em> Adicionar
    </button>

    <button type="button"
            class="btn btn-outline-primary"
            [hidden]="isMesmoUsuario() || !exibirBotaoDesfazerAmizade"
            (click)="desfazerAmizade()">
      <em class="fas fa-user-minus"></em> Desfazer amizade
    </button>

    <button type="button"
            class="btn btn-outline-primary"
            [hidden]="isMesmoUsuario() || !exibirBotaoAceitar"
            (click)="aceitarAmizade()">
      <em class="fas fa-user-check"></em> Aceitar amizade
    </button>

    <button type="button"
            class="btn btn-outline-primary"
            [hidden]="isMesmoUsuario() || !exibirBotaoCancelarAdicionar"
            (click)="cancelarAdicionar()">
      <em class="fas fa-user-times"></em> Cancelar convite
    </button>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a [routerLink]="obterRotaAmigos()">Amigos ({{usuario?.quantidadeAmigos}})</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="obterRotaFotos()">Fotos</a>
    </li>
  </ul>
</div>
