<div class="col-3">
  <card-perfil [usuario]="usuario"></card-perfil>
</div>

<div class="col-6" style="height: calc(100vh - 70px)"
     [class.text-center]="naoPossuiPosts()"
     [class.align-self-center]="naoPossuiPosts()">
  <div class="mb-5" *ngFor="let post of usuario?.posts">
    <post [post]="post"></post>
  </div>

  <span *ngIf="naoPossuiPosts()">Nenhum post encontrado.</span>

</div>

<div class="col-3">
  <div style="position: fixed">
    right
  </div>
</div>

<div aria-hidden="true" aria-labelledby="trocarFotoLabel" class="modal fade" id="trocarFoto" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="trocarFotoLabel">Trocar foto</h5>
        <button aria-label="Close"
                class="btn-close"
                name="fecharModal"
                #fecharModal
                data-bs-dismiss="modal"
                type="button"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="file"
                 name="inputFoto"
                 #inputFoto
                 (change)="trocarFotoPerfil($event)"
                 accept="image/bmp, image/png, image/jpg, image/jpeg"
                 required="required"
                 class="form-control btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
